.env

*.pyc
*.zip
__pycache__/
*.egg-info/
*.egg
*.log
*.pdb
*.db
*.sqlite
*.tar.gz
*.tar
*.tar.bz2
*.tar.xz
*.pth
*.pt
*.json


**/data/
**/data1/
**/VQA_SoM/
**/qf_preprocessing_inference_qwen/
**/checkpoints/
**/vqa_out/
**/vqa_out_*/
**/content/
**/output_images/
**/configs/
**/checkpoints/
**/older_code/
**/room_image/
**/depth_anything_v2/



PACKAGE_RENAME_SUMMARY.md
PACKAGE_USAGE.md
PACKAGING_SUMMARY.md
PYPI_PUBLISHING_GUIDE.md
FINAL_SUMMARY.md
GOM_FEATURES_SUMMARY.md
INSTALLATION.md


build/lib/
verification_output/
gom_intermediate_outputs/
dist/
demo_output/
external_libs/
tests/
scripts_test/

.coverage